.Main-box{
    margin-top: 10vh !important;
}

.admin-form{
    margin-top: 20%;
}

.button-style-primary{
    min-width: 70px;
    background-color: #008CBA;
    border: #008CBA;
    padding: 7px 10px 7px 10px;
    color: #FFFFFF;
    border-radius: 5px;
}



.button-style-primary:hover{
    background-color: #FFFFFF !important;
    color: black;
    border: 1px solid #008CBA;
}
.button-style-primary:disabled{
    background-color: #FFFFFF;
    color: black;
    cursor: not-allowed;
    border: 0.5px solid black !important;
}

.button-style-primary:disabled:hover{
    background-color: #FFFFFF;
}



.button-style-secondary{
    min-width: 70px;
    background-color: #f44336;
    border: #f44336;
    padding: 7px 10px 7px 10px;
    color: #FFFFFF;
    border-radius: 5px;
}

.button-style-secondary:hover{
    background-color: #FFFFFF !important;
    color: black;
    border: 1px solid #f44336;
}

.button-style-secondary:disabled{
    background-color: #FFFFFF;
    color: black;
    cursor: not-allowed;
    border: 1px solid black !important;

}

.button-style-secondary:disabled:hover{
    background-color: #FFFFFF;
}

.button-style-cleared{
    min-width: 70px;
    background-color: #02a95c;
    border: #02a95c;
    padding: 7px 10px 7px 10px;
    color: #FFFFFF;
    border-radius: 5px;
}

.button-style-cleared:hover{
    background-color: #FFFFFF;
    color: black;
    cursor: not-allowed;
    border: 1px solid black !important;
}

.button-style-cleared:disabled{
    background-color: #FFFFFF;
    color: black;
    cursor: not-allowed;
    border: 1px solid black !important;
}

.button-style-cleared:disabled:hover{
    background-color: #FFFFFF;
}
