body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6E6E9 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiTabs-root{
  height: 100vh !important;
  width: 25vw !important;
 
}

.Panels{
  width: 100vw !important;
  height: 100vh !important;
}

.Tabs{
  background-color: #f9f9f9 !important;
  margin-right: 0% !important;
}

.MuiTabs-scroller{
  position: fixed !important;
  width: 18vw !important;
  margin-top: 9.5%;
}

.css-1cgx7kx-MuiTabs-scroller

.tab1{
  margin-top: 0% !important;
}

.MuiBox-root{
  height: 0px !important;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}